body {
    font-family: "Tajawal", sans-serif;
    background: #f8f8f8;
    text-align: center;
    padding: 40px;
}

#startScreen, #testScreen, #resultScreen {
    max-width: 420px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#wordCard {
    margin: 40px 0;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    border: 2px solid #ddd;
}

.colorButton {
    width: 120px;
    height: 60px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#timerBox {
    font-size: 28px;
    margin-bottom: 10px;
}
