body {
    margin: 0;
    font-family: "Tajawal", sans-serif;
    text-align: center;
    transition: background 0.3s ease;
    background: #ffffff;
}

/* شاشة البداية */
#start-screen, #end-screen {
    padding: 40px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 8px 0 20px;
    font-size: 18px;
}

button {
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* شاشة الاختبار */
#status-bar {
    margin-top: 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#word-box {
    margin-top: 80px;
    padding: 40px;
}

#stimulus {
    font-size: 70px;
    font-weight: bold;
}

#buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.color-btn {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    border: 3px solid #fff;
    cursor: pointer;
}
