body {
    margin: 0;
    padding: 0;
    background: #ffd54f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Tajawal", sans-serif;
    transition: background 0.2s ease-in-out;
}

#test-container {
    text-align: center;
}

#card {
    background: white;
    width: 320px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#word {
    font-size: 60px;
    font-weight: bold;
}

#color-buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    border: 3px solid rgba(255,255,255,0.8);
    cursor: pointer;
}

.btn[data-color="red"] { background: #ff3b30; }
.btn[data-color="blue"] { background: #007aff; }
.btn[data-color="green"] { background: #4cd964; }
.btn[data-color="yellow"] { background: #ffeb3b; }
.btn[data-color="orange"] { background: #ff9500; }
